@import "../../scss/mixin.scss";
@import "../../scss/variables.scss";


.form_field_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include break-point(tablet) {
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .form_field {
    width: 100%;
    max-width: 48%;
    margin-bottom: 0;

    @include break-point(tablet) {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.margin-tabs {
      @include break-point(tablet) {
        margin-top: 20px;
      }
    }

    &.verify_email {
      position: relative;

      span {
        top: 57%;
        position: absolute;
        right: 13px;
        font-size: 12px;
        text-decoration: underline;
        color: green;
        cursor: pointer;
      }
    }
  }

  &.multiple {
    flex-wrap: wrap;
    margin-bottom: 0;
    position: relative;

    .form_field {
      max-width: 32%;
      margin-bottom: 25px;

      @include break-point(tablet) {
        max-width: 49%;
      }
    }
  }

  .remove_button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: red;
    border: 1px solid red;
  }
}

.form_field {
  width: 100%;
  margin-bottom: 15px;


  &.margin-tabs {
    @include break-point(minTab) {
      margin-top: 20px;
    }
  }

  .has_child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      max-width: 49%;
    }
  }

  ._password {
    position: relative;

    .input {
      padding-right: 30px;
    }

    .password_icons {
      position: absolute;
      right: 10px;
      top: 13px;
      cursor: pointer;
      opacity: 0.5;

      @include break-point(largeDesktop) {
        top: 10px;
      }
    }
  }



  &.has_verify {
    position: relative;

    .verify_button {
      position: absolute;
      right: 10px;
      color: $orange-color;
      font-weight: 500;
      top: 51px;
      z-index: 999;
      cursor: pointer;

      @include break-point(largeDesktop) {
        top: 43px;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &.error {
    img {
      top: 40% !important;
      transform: translateY(-60%) !important;
    }

    .passwordIcon {
      top: 40% !important;
      transform: translateY(-60%) !important;
    }
  }

  &.cstm_error {
    img {
      top: 33% !important;
      transform: translateY(-65%) !important;
    }

    .passwordIcon {
      top: 31% !important;
      transform: translateY(-65%) !important;
    }
  }

  &.has_phone {
    position: relative;

    .country_code {
      position: absolute;
      left: 13px;
      top: 32px;
      background-color: transparent;
      padding: 4px;
      font-weight: 600;
    }

    .input {
      padding-left: 45px !important;
    }
  }
}

.input {
  width: 100%;
  background-color: $white-color;
  border: 0;
  padding: 5px 15px;
  min-height: 60px;
  border-radius: 10px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #0F172A;
  border: 1px solid #0000001F;
  font-weight: 400;
  transition: all 0.3s linear;

  @include break-point(tablet) {
    padding: 5px 10px;
  }

  @include break-point(mobile) {
    font-size: 12px;
  }

  // @include break-point(largeDesktop) {
  //   min-height: 42px;
  //   border-radius: 10px;
  // }
  &:focus {
    box-shadow: 0 0 0 4px #233d290d;
    border-color: transparent !important;
    color: inherit;
  }

  &.is-invalid {
    box-shadow: none;
    border-color: $red-color;
    background-image: unset;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::placeholder {
    opacity: 1;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 3px;
  background-clip: content-box;
  border: 1px solid rgba(48, 61, 57, 1);
  background-color: transparent;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;

  @include break-point(largeDesktop) {
    width: 15px;
    height: 15px;
  }

  &:checked {
    background-color: $orange-color;
    border-color: $orange-color;
  }
}

textarea.input {
  height: 100px;
}

select.input {
  background-image: url("../../assets/icons/ArrowDown.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  padding-right: 40px;
}

.form_field {
  input[type="file"] {
    padding: 5px 10px 5px 10px;
  }

  input::file-selector-button {
    background-color: $orange-color !important;
    border: 0;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px;
  }

  // &:hover {
  //   input::file-selector-button {
  //     background-color: $orange-color;
  //   }
  // }
}

label.label {
  color: #232323;
  margin: 0 0 6px 4px;
  font-weight: 500;
  font-size: 1rem;

  &.dummy {
    visibility: hidden;
    opacity: 0;
  }
}

.button_wrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
  padding-top: 25px;

  @include break-point(tablet) {
    padding-top: 15px;
  }

  .button {
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }
  }

  &.margin_top {
    padding-top: 25px;
  }

  &.button_center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &.button_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include break-point(largeTab) {
      justify-content: center;
    }

    button {
      @include break-point(miniDesktop) {
        width: auto;
      }
    }
  }
}

.button {
  transition: all 0.3s;
  border-radius: 12px;
  color: $white-color;
  padding: 10px 25px;
  text-align: center;
  min-width: 120px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;

  @include break-point(largeDesktop) {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
  }

  @include break-point(mobile) {
    padding: 8px 22px;
  }

  &:hover {
    color: $white-color;
    // border-color: $blue-color;
    // box-shadow: inset 0 0 0 rgb(32, 124, 245), 0 0 5px rgb(32 124 245);
  }

  &:disabled {
    opacity: 0.6;

    // color: inherit !important;
    &:hover {
      color: $white-color;
    }
  }

  &.has_loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;

    // @include break-point(miniDesktop) {
    //   width: 100%;
    // }

    .spinner-grow {
      margin-right: 10px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 53%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 53px;
    }
  }

  &.has_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1.1rem;
      margin-right: 3px;
    }
  }

  &.hasLoader {
    height: 55px;

    @include break-point(largeDesktop) {
      height: 45px;
    }

    @include break-point(tablet) {
      height: 40px;
    }
  }

  &.round {
    border-radius: 50px;
    background-color: #222222;
    padding: 10px 30px;
    font-weight: 300;
  }

  img {
    @include break-point(miniDesktop) {
      width: auto !important;
    }
  }
}

.disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;

  &:hover {
    box-shadow: unset !important;
  }
}

button:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.previous {
  background-color: transparent !important;
  color: $black-color !important;
  border: 1px solid #c0c0c0 !important;

  &:hover {}

}

// Switch Button //

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 17px;
      width: 17px;
      left: 4px;
      bottom: 4.5px;
      background-color: #fff;
      transition: 0.4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input {
    &:checked {
      &+.slider {
        background-color: $orange-color;

        &:before {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      }
    }
  }
}

.rating {
  font-size: 1.1rem;
  display: flex;
  align-items: center;

  .rating_star {
    margin: 0px 0px 5px 0px;
    line-height: 1;
    margin-bottom: 4px;

    svg {
      color: #FFC45A;
      margin-right: 2px;
      font-size: 17px;

      &.cstm_color {
        color: #FFC45A59;

      }
    }
  }

  ._rating {
    font-weight: 500;
    margin-right: 5px;
    color: #FFC45A;
  }

  .user {
    font-size: 14px;
    color: $black-color;
    font-weight: 500;
  }

  .total_count {
    font-size: 14px;
    color: #010E31B2;
    font-weight: 500;

  }

  .wrap_rating_p {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 0 !important;
    text-decoration: underline;
  }
}

.opt_wrapper {
  .opt-input {
    .input {
      margin-right: 15px;
      height: 50px;
      border: 0.5px solid #aaaaaa5e;
      width: 55px !important;
      font-size: 1.2rem;

      &:last-child {
        margin-right: 0;
      }

      &:focus {
        border-color: transparent !important;
      }
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;

  .react-datepicker__input-container {
    input {
      padding: 5px 50px 5px 15px;
    }
  }

  .react-datepicker-popper {
    z-index: 999;
  }

  .react-datepicker__calendar-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    font-size: 25px;
  }
}

.react-datepicker__month-container {
  .react-datepicker__header {
    background-color: $green-color;
    color: $white-color;

    .react-datepicker__current-month,
    .react-datepicker-time__header,
    .react-datepicker-year-header {
      color: $white-color;
    }

    .react-datepicker__day-names {
      .react-datepicker__day-name {
        color: $white-color;
      }
    }

    .react-datepicker__header__dropdown {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      justify-content: center;

      .react-datepicker__month-dropdown-container {
        .react-datepicker__month-read-view--down-arrow {
          right: -2px;
          top: 0;
          border-color: $white-color;
        }

        .react-datepicker__month-read-view {
          background-color: transparent;
        }

        .react-datepicker__month-read-view--selected-month {
          padding-right: 14px;
          color: $white-color;
        }
      }
    }

    span.react-datepicker__year-read-view--down-arrow {
      right: -2px;
      top: 0;
      border-color: $white-color;
    }

    .react-datepicker__year-read-view {
      background-color: transparent;
    }

    span.react-datepicker__year-read-view--selected-year {
      padding-right: 11px;
      color: $white-color;
    }
  }

  .react-datepicker__header {
    background-color: $green-color;
    border-bottom: 1px solid #aaaaaa61;
    color: $white-color;

    .react-datepicker__day-name {
      font-weight: 600;
    }
  }

  .react-datepicker__month {
    .react-datepicker__week {
      .react-datepicker__day {
        font-family: inherit;
        border-radius: 50%;

        &:hover {
          background-color: $green-color;
          color: $white-color;
          border-radius: 50%;
        }

        &.react-datepicker__day--keyboard-selected {
          background-color: $green-color;
          color: $white-color;
          font-weight: normal;
        }

        &.react-datepicker__day--disabled {
          cursor: not-allowed;
          color: #ccc;
          background-color: transparent;
        }
      }
    }

    .react-datepicker__month-wrapper {
      display: flex;
    }
  }

  .react-datepicker__day--selected {
    background-color: $green-color;
    color: $black-color;
  }

  .react-datepicker__year-dropdown,
  .react-datepicker__month-dropdown {
    background-color: #fff;
    color: $black-color;

    .react-datepicker__year-option,
    .react-datepicker__month-option {
      &:hover {
        background-color: $green-color;
        color: $white-color;
      }
    }
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  height: 5px;
  width: 5px;
}

.react-datepicker-popper {
  z-index: 104;

  .react-datepicker {
    background-color: $white-color;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    .react-datepicker__header {
      // background-color: $green-color;
      color: $white-color;
    }

    .react-datepicker__year {
      .react-datepicker__year-wrapper {
        .react-datepicker__year-text {
          padding: 6px 2px;

          &:hover,
          &.react-datepicker__year-text--selected {
            background-color: $orange-color;
            color: $white-color;
          }

          &.react-datepicker__year-text--disabled {
            cursor: not-allowed;

            &:hover {
              background-color: inherit;
              color: #ccc;
            }
          }
        }
      }
    }
  }

  .react-datepicker__triangle {
    color: #0F3D2E !important;
    fill: #0F3D2E !important;
  }
}

.radio_button {
  display: flex;
  align-items: center;
  font-weight: 400;
  cursor: pointer;

  input {
    margin-right: 10px;
  }

  &.active {
    border-color: rgba(37, 157, 143, 1);
    background-color: rgba(246, 255, 254, 1);
    color: $orange-color;
  }
}

.radio_button_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .radio_button {
    width: 100%;
    max-width: 32%;

    input {
      margin-right: 5px;
    }
  }

  &.hasTwo {
    .radio_button {
      max-width: 49%;
    }
  }
}

.react-tel-input {
  z-index: 999;

  .flag-dropdown {
    border-radius: 10px 0 0 10px;
    background-color: #ffff;

    @include break-point(largeDesktop) {
      border-radius: 6px 0 0 6px;
    }

    .selected-flag {
      border-radius: 10px 0 0 10px;
      background-color: #ffff;

      @include break-point(largeDesktop) {
        border-radius: 6px 0 0 6px;
      }
    }
  }

  &.country_picker {
    .form-control {
      width: 100%;
      height: 55px;
      border-radius: 10px;

      @include break-point(largeDesktop) {
        height: 45px;
        border-radius: 6px;
      }

      // &:focus {
      //   box-shadow: 0px 0px 3px 1px #259d8f;
      //   border-color: transparent !important;
      //   color: inherit;
      // }
      &.is-invalid {
        box-shadow: none;
        border-color: $red-color;
        background-image: unset;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .country-list {
      border-radius: 10px;
      padding: 0 10px 10px 10px;

      .search-box {
        width: 85%;
      }
    }
  }
}

.multi-select {
  min-height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;

  @include break-point(largeDesktop) {
    min-height: 40px;
    border-radius: 6px;
  }

  &:after {
    content: "";
    position: absolute;
    // background-image: url("../../assets/icons/selectDropdown.png");
    right: 0;
    width: 24px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 0.75rem center;
  }

  .css-13cymwt-control {
    border: 0;
    min-height: unset;
    border-radius: 0;
    width: 100%;

    .css-1fdsijx-ValueContainer,
    .react_select__value-container {
      padding: 0;
      width: 100%;

      .css-1jqq78o-placeholder,
      .react_select__placeholder {
        margin: 0;
      }

      .css-qbdosj-Input,
      .react_select__input-container {
        margin: 0;
        padding: 0;
        color: inherit;
      }
    }

    .css-1hb7zxy-IndicatorsContainer {
      display: none;
    }
  }

  .css-t3ipsp-control,
  .react_select__control {
    border: 0;
    outline: none !important;
    box-shadow: none;
    min-height: auto;
    height: unset;
    margin: 0;
    width: 100%;

    .css-1fdsijx-ValueContainer {
      padding: 0;
      margin: 0;
    }

    .react_select__value-container {
      padding: 0;
      margin: 0;
    }

    .css-qbdosj-Input {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .css-1hb7zxy-IndicatorsContainer,
    .react_select__indicators {
      .css-1u9des2-indicatorSeparator {
        display: none;
      }

      .css-15lsz6c-indicatorContainer {
        display: none;
      }
    }
  }

  .react_select__indicators {
    display: none;
  }

  .css-1nmdiq5-menu {
    left: 0;
    margin: 0;
    border: 1px solid rgba(204, 204, 204, 1);
    box-shadow: none;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;

    .css-1n6sfyn-MenuList {
      padding: 0;
    }

    .add-button {
      width: 100%;
      background-color: rgba(244, 244, 244, 1);
      padding: 5px 10px;
      text-align: left;
      color: $orange-color;
    }
  }

  &.is-invalid {
    &:after {
      right: 15px;
    }
  }

  .react_select__option--is-selected {
    background-color: $orange-color;
  }

  &.react_select--is-disabled {
    background-color: hsl(0, 0%, 95%);
  }
}

.searchBox {
  display: flex;
  align-items: center;
  position: relative;

  .input {
    padding-left: 40px;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 24px;
  }
}

input[type="checkbox"] {
  position: relative;
  border: 2px solid $black-color;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  // margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  opacity: 0.5;
  flex-shrink: 0;

  &:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0px 2px 2px 0;
    margin: -1px -2px 0 0px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
  }

  &:checked {
    background-color: rgb(245 130 32);
    opacity: 1;
    border-color: rgb(245 130 32);
  }
}

// Cstm_style add subscriptions
.cstm_checkbox input[type="checkbox"] {
  position: relative;
  border: 2px solid $black-color;
  border-radius: 2px;
  background: rgb(244, 250, 249);
  cursor: pointer;
  line-height: 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 30px;
  width: 40px;
  -webkit-appearance: none;
  opacity: 0.5;
}

.cstm_checkbox input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0px 2px 2px 0;
  margin: -1px -2px 0 0px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.cstm_checkbox input[type="checkbox"]:checked {
  background-color: rgb(244, 250, 249);
  color: rgb(37, 157, 143);
  opacity: 1;
  border-color: rgba(37, 157, 143, 1);
}

.cstm_checkbox input[type="checkbox"].form-control.input:checked:before {
  border-color: #259d8f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked+.slider {
    background-color: $blue-color;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px $blue-color;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;

    .slider {
      cursor: not-allowed;
    }
  }
}

.cstm_search {
  position: relative;

  svg {
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .input {
    padding-left: 30px;
  }
}