$black-color: #181818;
$primary-color: #233D29;
$header-bg-color : #0F172A;
$white-color: #fff;
$border-color: #C4C4C4;
$red-color: #E02424;
$blue-color: #7ea5ff;
$yellow-color: #F2E7C8;
$orange-color: #CCEAFF;
$green-color: #0F3D2E;
$saffron-color: #EF9607;

$lightblue-bg: #DBEEF9;
$beige-bg: #F9F4E5;