@import "../../../scss/mixin.scss";
@import "../../../scss/variables.scss";

.wrapper-browse-category {
  .wrap_flex_category {
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .wrap_cards {
      min-width: calc(100% / 7);
      max-width: calc(100% / 7);
      position: relative;
      border-radius: 18px;
      overflow: hidden;
      height: 200px;

      figure {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        height: 100%;

        img {
          &.category_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s ease-in-out;
            transform: scale(1);
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 45%;
          filter: blur(12px);
          -webkit-backdrop-filter: blur(12px);
          background: linear-gradient(to top,
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0));
          pointer-events: none;
        }
      }

      p {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: $white-color;
        width: 100%;
        text-align: center;
        font-size: 16px;
      }

      &:hover {
        figure {
          img {
            &.category_img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}